(
    name: "TouchDust",
    lifetime: 1.4,
    playback: OneShot,
    end: Destroy,
    tracks: [
        (
            name: "Puff",
            render: Billboard(
                texture: Some("textures/VFXTEX/Smoke/4.png"),
            ),
            blend: Alpha,
            space: World,
            clips: [
                (
                    start: 0.0,
                    end: 0.3,
                    emit: Some(Burst(
                        count: 14,
                        count_jitter: 0.2,
                        pulses: 1,
                        interval: 0.0,
                        interval_jitter: 0.0,
                    )),
                ),
            ],
            automation: [],
            shape: Ring(
                radius: 0.8,
            ),
            velocity: Range(Vec3((-4.5, 0.5, -4.5)), Vec3((4.5, 2.5, 4.5))),
            size: Range(F32(1.4), F32(2.8)),
            rotation: Range(Vec3((0.0, 0.0, 0.0)), Vec3((0.0, 0.0, 360.0))),
            angular_velocity: Range(Vec3((0.0, 0.0, -0.6)), Vec3((0.0, 0.0, 0.6))),
            color: Curve((
                keys: [
                    (
                        t: 0.0,
                        v: Rgba((0.6, 0.55, 0.48, 0.75)),
                        interp: Linear,
                        in_tan: 0.0,
                        out_tan: 0.0,
                    ),
                    (
                        t: 1.0,
                        v: Rgba((0.45, 0.41, 0.37, 0.0)),
                        interp: Linear,
                        in_tan: 0.0,
                        out_tan: 0.0,
                    ),
                ],
                extrapolate: Clamp,
            )),
            gravity: -0.3,
            drag: 1.8,
        ),
        (
            name: "Ring",
            render: Billboard(
                texture: Some("textures/VFXTEX/Shockwaves/16.png"),
            ),
            blend: Alpha,
            space: World,
            clips: [
                (
                    start: 0.0,
                    end: 0.55,
                    emit: Some(Burst(
                        count: 1,
                        count_jitter: 0.0,
                        pulses: 1,
                        interval: 0.0,
                        interval_jitter: 0.0,
                    )),
                ),
            ],
            automation: [],
            shape: Point,
            velocity: Const(Vec3((0.0, 0.0, 0.0))),
            size: Curve((
                keys: [
                    (
                        t: 0.0,
                        v: F32(1.0),
                        interp: Linear,
                        in_tan: 0.0,
                        out_tan: 0.0,
                    ),
                    (
                        t: 1.0,
                        v: F32(6.5),
                        interp: Linear,
                        in_tan: 0.0,
                        out_tan: 0.0,
                    ),
                ],
                extrapolate: Clamp,
            )),
            rotation: Const(Vec3((0.0, 0.0, 0.0))),
            angular_velocity: Const(Vec3((0.0, 0.0, 0.0))),
            color: Curve((
                keys: [
                    (
                        t: 0.0,
                        v: Rgba((0.7, 0.65, 0.58, 0.6)),
                        interp: Linear,
                        in_tan: 0.0,
                        out_tan: 0.0,
                    ),
                    (
                        t: 0.72926664,
                        v: Rgba((0.0, 0.0, 0.0, 0.0)),
                        interp: Linear,
                        in_tan: 0.0,
                        out_tan: 0.0,
                    ),
                ],
                extrapolate: Clamp,
            )),
            gravity: 0.0,
            drag: 0.0,
        ),
    ],
    seed: 5,
    gravity_mode: Field,
)