(
    name: "idle",
    duration: 2.95,
    source_model: "models/astronaut/astronaut_male.glb",
    channels: [
        (
            node: "Upperarm.Right",
            translation: Some((
                times: [
                    0.0,
                    1.75,
                    2.95,
                ],
                values: [
                    (-0.41658294, 0.0583619, 0.043471564),
                    (-0.4133476, 0.031609, 0.043710552),
                    (-0.41658294, 0.0583619, 0.043471564),
                ],
                step: false,
            )),
            rotation: Some((
                times: [
                    0.0,
                    1.75,
                    2.95,
                ],
                values: [
                    (0.007012638, -0.999336, 0.008409741, 0.03475161),
                    (-0.05994306, 0.9975612, -0.006556948, -0.0351483),
                    (-0.007012638, 0.999336, -0.008409741, -0.03475161),
                ],
                step: false,
            )),
            scale: Some((
                times: [
                    0.0,
                    1.75,
                    2.95,
                ],
                values: [
                    (1.0000005, 1.0000004, 1.000002),
                    (1.000002, 1.0000011, 1.0000033),
                    (1.0000005, 1.0000004, 1.000002),
                ],
                step: false,
            )),
        ),
        (
            node: "Upperarm.Left",
            translation: Some((
                times: [
                    0.0,
                    1.75,
                    2.95,
                ],
                values: [
                    (0.34503627, 0.061295897, 0.03844703),
                    (0.34075272, 0.0051938314, 0.03912207),
                    (0.34503627, 0.061295897, 0.03844703),
                ],
                step: false,
            )),
            rotation: Some((
                times: [
                    0.0,
                    1.75,
                    2.95,
                ],
                values: [
                    (0.037857696, 0.9986433, -0.0073330123, 0.03499463),
                    (0.091782935, 0.9951369, -0.0054307063, 0.03533987),
                    (0.037857696, 0.9986433, -0.007333012, 0.03499463),
                ],
                step: false,
            )),
            scale: Some((
                times: [
                    0.0,
                    1.75,
                    2.95,
                ],
                values: [
                    (1.0000011, 1.0000004, 1.0000007),
                    (1.0000015, 1.0000011, 1.0000011),
                    (1.0000011, 1.0000004, 1.0000007),
                ],
                step: false,
            )),
        ),
        (
            node: "Head",
            translation: Some((
                times: [
                    0.0,
                    1.75,
                    2.95,
                ],
                values: [
                    (0.000000059604638, -0.111213654, -0.05171103),
                    (0.000000059604638, -0.111213654, -0.05171103),
                    (0.000000059604638, -0.111213654, -0.05171103),
                ],
                step: false,
            )),
            rotation: Some((
                times: [
                    0.0,
                    1.75,
                    2.95,
                ],
                values: [
                    (-0.99511904, -0.0060370965, -0.0002905636, 0.09849724),
                    (0.9987875, 0.006015159, 0.00059062056, -0.048856325),
                    (0.995119, 0.0060370965, 0.0002905636, -0.09849724),
                ],
                step: false,
            )),
            scale: Some((
                times: [
                    0.0,
                    1.75,
                    2.95,
                ],
                values: [
                    (1.0, 1.0000004, 1.0000004),
                    (1.0, 1.0000013, 1.0000014),
                    (1.0, 1.0000004, 1.0000004),
                ],
                step: false,
            )),
        ),
        (
            node: "MaleArm",
            translation: Some((
                times: [
                    0.0,
                    1.7666667,
                    2.95,
                ],
                values: [
                    (-0.4998932, 1.6149646, 0.018909533),
                    (-0.4998932, 1.6149646, 0.018909533),
                    (-0.4998932, 1.6149646, 0.018909533),
                ],
                step: false,
            )),
            rotation: Some((
                times: [
                    0.0,
                    1.7666667,
                    2.95,
                ],
                values: [
                    (0.70710677, 0.0, 0.0, 0.70710677),
                    (0.66648644, 0.0, 0.0, 0.74551713),
                    (0.7071068, 0.0, 0.0, 0.7071068),
                ],
                step: false,
            )),
            scale: Some((
                times: [
                    0.0,
                    1.7666667,
                    2.95,
                ],
                values: [
                    (0.5, 0.50000006, 0.50000006),
                    (0.5, 0.50000006, 0.50000006),
                    (0.5, 0.50000006, 0.50000006),
                ],
                step: false,
            )),
        ),
        (
            node: "Hip",
            translation: Some((
                times: [
                    0.0,
                    1.7583333,
                    2.95,
                ],
                values: [
                    (0.00000005960465, 0.6148685, 0.000000015201294),
                    (0.000000059604645, 0.6148685, 0.000000015634214),
                    (0.00000005960465, 0.6148685, 0.000000015201294),
                ],
                step: false,
            )),
            rotation: Some((
                times: [
                    0.0,
                    1.7583333,
                    2.95,
                ],
                values: [
                    (0.012101292, 0.00000000000000034283934, -0.000000000000000004148791, 0.9999268),
                    (0.08045524, -0.000000000000000018878278, -0.00000000000000038821638, 0.9967582),
                    (0.012101292, 0.00000000000000034283934, -0.000000000000000004148791, 0.9999268),
                ],
                step: false,
            )),
            scale: Some((
                times: [
                    0.0,
                    1.7583333,
                    2.95,
                ],
                values: [
                    (1.0, 1.0000004, 1.0000004),
                    (1.0, 1.0000001, 1.0000001),
                    (1.0, 1.0000004, 1.0000004),
                ],
                step: false,
            )),
        ),
    ],
    events: [],
)