(
    name: "jump",
    duration: 1.87,
    source_model: "models/astronaut/astronaut_male.glb",
    channels: [
        (
            node: "Upperarm.Right",
            translation: Some((
                times: [
                    0.0,
                    0.6515135,
                    1.012496,
                    1.8518473,
                ],
                values: [
                    (-0.34503627, 0.061295897, 0.03844703),
                    (-0.34503627, 0.061295897, 0.03844703),
                    (-0.34503627, 0.061295897, 0.03844703),
                    (-0.34503627, 0.061295897, 0.03844703),
                ],
                step: false,
            )),
            rotation: Some((
                times: [
                    0.0,
                    0.6515135,
                    1.012496,
                    1.8518473,
                ],
                values: [
                    (-0.41773567, 0.8364594, -0.3157086, 0.16174267),
                    (0.65738153, -0.62560004, 0.40587294, -0.10835694),
                    (-0.6352414, 0.7407033, -0.07352656, -0.20596325),
                    (-0.5645305, 0.7358653, 0.112025894, -0.35673216),
                ],
                step: false,
            )),
            scale: Some((
                times: [
                    0.0,
                    0.6515135,
                    1.012496,
                    1.8518473,
                ],
                values: [
                    (1.0000005, 1.0000002, 1.0000006),
                    (1.0000005, 1.0000004, 1.0000007),
                    (1.0000008, 1.0000006, 1.0000011),
                    (1.000001, 1.0000007, 1.0000012),
                ],
                step: false,
            )),
        ),
        (
            node: "Upperarm.Left",
            translation: Some((
                times: [
                    0.0,
                    1.012496,
                    1.8518473,
                ],
                values: [
                    (0.34503627, 0.061295897, 0.03844703),
                    (0.34503627, 0.061295897, 0.03844703),
                    (0.34503627, 0.061295897, 0.03844703),
                ],
                step: false,
            )),
            rotation: Some((
                times: [
                    0.0,
                    1.012496,
                    1.8518473,
                ],
                values: [
                    (0.27573508, 0.9037903, 0.25613883, 0.20377956),
                    (0.6265578, 0.76444733, 0.085547954, -0.12540783),
                    (0.59740776, 0.7681088, -0.04131782, -0.22672834),
                ],
                step: false,
            )),
            scale: Some((
                times: [
                    0.0,
                    1.012496,
                    1.8518473,
                ],
                values: [
                    (1.0000007, 1.0000002, 1.0000002),
                    (1.0000004, 1.0, 1.0),
                    (1.0000006, 1.0000001, 1.0000001),
                ],
                step: false,
            )),
        ),
        (
            node: "Forearm.Right",
            translation: Some((
                times: [
                    0.0,
                ],
                values: [
                    (0.0000001576359, 0.5988052, -0.000000064013875),
                ],
                step: false,
            )),
            rotation: Some((
                times: [
                    0.0,
                ],
                values: [
                    (0.14491627, -0.064347185, -0.022081923, 0.9871024),
                ],
                step: false,
            )),
            scale: Some((
                times: [
                    0.0,
                ],
                values: [
                    (1.0, 0.99999976, 1.0000001),
                ],
                step: false,
            )),
        ),
        (
            node: "Shin.Left",
            translation: Some((
                times: [
                    0.0,
                    1.0134655,
                ],
                values: [
                    (0.00000008663892, 0.82423973, 0.000000028772774),
                    (0.00000006843811, 0.82423973, 0.000000022757376),
                ],
                step: false,
            )),
            rotation: Some((
                times: [
                    0.0,
                    1.0134655,
                ],
                values: [
                    (0.28518596, 0.7279536, -0.2225476, -0.5824303),
                    (0.1613373, 0.76499534, -0.12353402, -0.6111397),
                ],
                step: false,
            )),
            scale: Some((
                times: [
                    0.0,
                    1.0134655,
                ],
                values: [
                    (1.0000006, 1.0000006, 1.0000006),
                    (1.0000007, 1.0000007, 1.0000006),
                ],
                step: false,
            )),
        ),
        (
            node: "Thigh.Left",
            translation: Some((
                times: [
                    0.0,
                    1.0134655,
                    1.8518473,
                ],
                values: [
                    (0.1986233, 0.4749278, -0.02361199),
                    (0.1986233, 0.4749278, -0.02361199),
                    (0.1986233, 0.4749278, -0.02361199),
                ],
                step: false,
            )),
            rotation: Some((
                times: [
                    0.0,
                    1.0134655,
                    1.8518473,
                ],
                values: [
                    (-0.018877454, 0.89749783, -0.40875286, -0.16450651),
                    (0.051039215, 0.9861953, 0.00021956694, -0.15752378),
                    (0.032339633, 0.97950524, -0.11467686, -0.16239731),
                ],
                step: false,
            )),
            scale: Some((
                times: [
                    0.0,
                    1.0134655,
                    1.8518473,
                ],
                values: [
                    (1.0, 0.9999998, 1.0),
                    (1.0000005, 1.0000001, 1.0000002),
                    (1.0000006, 1.0, 1.0000005),
                ],
                step: false,
            )),
        ),
        (
            node: "Thigh.Right",
            translation: Some((
                times: [
                    0.0,
                    1.0134655,
                    1.8518473,
                ],
                values: [
                    (-0.19862336, 0.4749278, -0.02361199),
                    (-0.19862336, 0.4749278, -0.02361199),
                    (-0.19862336, 0.4749278, -0.02361199),
                ],
                step: false,
            )),
            rotation: Some((
                times: [
                    0.0,
                    1.0134655,
                    1.8518473,
                ],
                values: [
                    (-0.0931817, 0.9465297, 0.2768805, 0.13687922),
                    (-0.069675736, 0.9789615, 0.119229205, 0.15021333),
                    (-0.079468094, 0.9689197, 0.1837821, 0.1452707),
                ],
                step: false,
            )),
            scale: Some((
                times: [
                    0.0,
                    1.0134655,
                    1.8518473,
                ],
                values: [
                    (1.0, 0.9999998, 1.0000002),
                    (0.99999976, 0.99999976, 1.0),
                    (0.9999997, 0.9999996, 1.0),
                ],
                step: false,
            )),
        ),
        (
            node: "Shin.Right",
            translation: Some((
                times: [
                    0.0,
                    1.0134655,
                ],
                values: [
                    (-0.00000013356566, 0.8242398, 0.00000009427367),
                    (-0.00000013393537, 0.82423973, 0.00000007800372),
                ],
                step: false,
            )),
            rotation: Some((
                times: [
                    0.0,
                    1.0134655,
                ],
                values: [
                    (-0.071307726, 0.77856433, -0.0516479, 0.6213576),
                    (-0.16328858, 0.764581, -0.12509325, 0.61082274),
                ],
                step: false,
            )),
            scale: Some((
                times: [
                    0.0,
                    1.0134655,
                ],
                values: [
                    (1.0000001, 1.0000001, 1.0000001),
                    (1.0000004, 1.0000002, 1.0000002),
                ],
                step: false,
            )),
        ),
        (
            node: "Foot.Right",
            translation: Some((
                times: [
                    0.0,
                    1.0134655,
                ],
                values: [
                    (0.00000004302092, 0.99300367, 0.00000014506213),
                    (0.000000069106136, 0.9930037, 0.00000007046617),
                ],
                step: false,
            )),
            rotation: Some((
                times: [
                    0.0,
                    1.0134655,
                ],
                values: [
                    (-0.34623718, 0.66857773, 0.30640972, 0.5824404),
                    (-0.23210022, 0.7138368, 0.17697527, 0.6365896),
                ],
                step: false,
            )),
            scale: Some((
                times: [
                    0.0,
                    1.0134655,
                ],
                values: [
                    (1.0, 1.0, 0.9999999),
                    (1.0000001, 1.0000002, 0.99999994),
                ],
                step: false,
            )),
        ),
        (
            node: "Hand.Right",
            translation: Some((
                times: [
                    0.0,
                    1.012496,
                ],
                values: [
                    (0.00000030028505, 0.4956217, 0.000000041894964),
                    (0.00000018076116, 0.49562165, 0.0000000033523975),
                ],
                step: false,
            )),
            rotation: Some((
                times: [
                    0.0,
                    1.012496,
                ],
                values: [
                    (-0.15200548, -0.048692107, 0.22737287, 0.9606378),
                    (0.007851224, -0.010683039, 0.23228268, 0.97255796),
                ],
                step: false,
            )),
            scale: Some((
                times: [
                    0.0,
                    1.012496,
                ],
                values: [
                    (0.9999999, 0.99999976, 0.9999998),
                    (0.9999999, 0.99999976, 0.9999998),
                ],
                step: false,
            )),
        ),
        (
            node: "Foot.Left",
            translation: Some((
                times: [
                    0.0,
                    1.0134655,
                ],
                values: [
                    (-0.00000003212881, 0.9930035, -0.00000014976581),
                    (-0.00000004634785, 0.9930035, -0.00000010529118),
                ],
                step: false,
            )),
            rotation: Some((
                times: [
                    0.0,
                    1.0134655,
                ],
                values: [
                    (0.37907034, 0.6583624, 0.4057261, -0.50818396),
                    (0.2983171, 0.7119005, 0.30207995, -0.55942136),
                ],
                step: false,
            )),
            scale: Some((
                times: [
                    0.0,
                    1.0134655,
                ],
                values: [
                    (1.0000002, 1.0000007, 1.0000005),
                    (1.0000001, 1.0000006, 1.0000001),
                ],
                step: false,
            )),
        ),
        (
            node: "Head",
            translation: Some((
                times: [
                    0.0,
                    0.31144705,
                    1.1952833,
                    1.8535308,
                ],
                values: [
                    (0.000000059604638, -0.111213654, -0.05171103),
                    (0.000000059604638, -0.111213654, -0.05171103),
                    (0.000000059604638, -0.111213654, -0.05171103),
                    (0.000000059604638, -0.111213654, -0.05171103),
                ],
                step: false,
            )),
            rotation: Some((
                times: [
                    0.0,
                    0.31144705,
                    1.1952833,
                    1.8535308,
                ],
                values: [
                    (0.97527254, -0.000000009735022, -0.00000012772429, -0.22100563),
                    (0.9997442, 0.000000015862542, -0.00000012710882, -0.022618582),
                    (0.9970148, 0.0000000088937, -0.00000012778567, -0.07721015),
                    (0.98307395, -0.000000004799413, -0.00000012800486, -0.18320929),
                ],
                step: false,
            )),
            scale: Some((
                times: [
                    0.0,
                    0.31144705,
                    1.1952833,
                    1.8535308,
                ],
                values: [
                    (1.0, 1.0, 1.0),
                    (1.0, 1.0, 1.0),
                    (1.0, 1.0, 1.0),
                    (1.0, 1.0, 1.0),
                ],
                step: false,
            )),
        ),
    ],
    events: [],
)