(
    name: "run",
    duration: 1.3,
    source_model: "models/astronaut/astronaut_male.glb",
    channels: [
        (
            node: "Upperarm.Right",
            translation: Some((
                times: [
                    0.0,
                    0.6666666,
                    1.3,
                ],
                values: [
                    (-0.41658294, 0.05836189, 0.04347156),
                    (-0.41658294, 0.05836189, 0.04347156),
                    (-0.41658294, 0.05836189, 0.04347156),
                ],
                step: false,
            )),
            rotation: Some((
                times: [
                    0.0,
                    0.6666666,
                    1.3,
                ],
                values: [
                    (-0.019858148, 0.9189764, -0.3927155, -0.029368434),
                    (0.010638965, 0.87918055, 0.4751681, -0.03381809),
                    (-0.019858148, 0.9189764, -0.3927155, -0.029368434),
                ],
                step: false,
            )),
            scale: Some((
                times: [
                    0.0,
                    0.6666666,
                    1.3,
                ],
                values: [
                    (1.0000007, 1.0000006, 1.0000021),
                    (1.0000008, 1.0000008, 1.0000023),
                    (1.0000007, 1.0000006, 1.0000021),
                ],
                step: false,
            )),
        ),
        (
            node: "Upperarm.Left",
            translation: Some((
                times: [
                    0.0,
                    0.6666666,
                    1.3,
                ],
                values: [
                    (0.34503627, 0.06129589, 0.038447026),
                    (0.34503627, 0.06129589, 0.038447026),
                    (0.34503627, 0.06129589, 0.038447026),
                ],
                step: false,
            )),
            rotation: Some((
                times: [
                    0.0,
                    0.6666666,
                    1.3,
                ],
                values: [
                    (0.016730621, 0.8826474, 0.4671999, 0.04876389),
                    (0.045872703, 0.9598975, -0.2755701, 0.023527123),
                    (0.016730621, 0.8826474, 0.4671999, 0.04876389),
                ],
                step: false,
            )),
            scale: Some((
                times: [
                    0.0,
                    0.6666666,
                    1.3,
                ],
                values: [
                    (1.0000008, 1.0000002, 1.0000005),
                    (1.0000006, 1.0000002, 1.0000004),
                    (1.0000008, 1.0000002, 1.0000005),
                ],
                step: false,
            )),
        ),
        (
            node: "Head",
            translation: Some((
                times: [
                    0.0,
                    1.3,
                ],
                values: [
                    (0.000000059604638, -0.111213654, -0.05171103),
                    (0.000000059604638, -0.111213654, -0.05171103),
                ],
                step: false,
            )),
            rotation: Some((
                times: [
                    0.0,
                    1.3,
                ],
                values: [
                    (-0.99511904, -0.0060370965, -0.0002905636, 0.09849724),
                    (-0.99511904, -0.0060370965, -0.0002905636, 0.09849724),
                ],
                step: false,
            )),
            scale: Some((
                times: [
                    0.0,
                    1.3,
                ],
                values: [
                    (1.0, 1.0000004, 1.0000004),
                    (1.0, 1.0000004, 1.0000004),
                ],
                step: false,
            )),
        ),
        (
            node: "MaleArm",
            translation: Some((
                times: [
                    0.0,
                    1.3,
                ],
                values: [
                    (-0.4998932, 1.6149646, 0.018909533),
                    (-0.4998932, 1.6149646, 0.018909533),
                ],
                step: false,
            )),
            rotation: Some((
                times: [
                    0.0,
                    1.3,
                ],
                values: [
                    (0.70710677, 0.0, 0.0, 0.70710677),
                    (0.70710677, 0.0, 0.0, 0.70710677),
                ],
                step: false,
            )),
            scale: Some((
                times: [
                    0.0,
                    1.3,
                ],
                values: [
                    (0.5, 0.50000006, 0.50000006),
                    (0.5, 0.50000006, 0.50000006),
                ],
                step: false,
            )),
        ),
        (
            node: "Hip",
            translation: Some((
                times: [
                    0.0,
                    1.3,
                ],
                values: [
                    (0.00000005960465, 0.6148685, 0.000000015201294),
                    (0.00000005960465, 0.6148685, 0.000000015201294),
                ],
                step: false,
            )),
            rotation: Some((
                times: [
                    0.0,
                    1.3,
                ],
                values: [
                    (0.012101292, 0.00000000000000034283934, -0.000000000000000004148791, 0.9999268),
                    (0.012101292, 0.00000000000000034283934, -0.000000000000000004148791, 0.9999268),
                ],
                step: false,
            )),
            scale: Some((
                times: [
                    0.0,
                    1.3,
                ],
                values: [
                    (1.0, 1.0000004, 1.0000004),
                    (1.0, 1.0000004, 1.0000004),
                ],
                step: false,
            )),
        ),
        (
            node: "Forearm.Left",
            translation: Some((
                times: [
                    0.0,
                    0.6666666,
                    1.3,
                ],
                values: [
                    (0.00000019965796, 0.5988052, 0.000000098120836),
                    (0.00000017395712, 0.59880525, 0.00000006731625),
                    (0.00000019965796, 0.5988052, 0.000000098120836),
                ],
                step: false,
            )),
            rotation: Some((
                times: [
                    0.0,
                    0.6666666,
                    1.3,
                ],
                values: [
                    (0.20469974, 0.06557143, 0.01812638, 0.9764578),
                    (0.3442568, 0.067507975, 0.008417296, 0.93640757),
                    (0.20469974, 0.06557143, 0.01812638, 0.9764578),
                ],
                step: false,
            )),
            scale: Some((
                times: [
                    0.0,
                    0.6666666,
                    1.3,
                ],
                values: [
                    (1.0000001, 1.0000001, 1.0000002),
                    (1.0000004, 1.0000002, 1.0000004),
                    (1.0000001, 1.0000001, 1.0000002),
                ],
                step: false,
            )),
        ),
        (
            node: "Forearm.Right",
            translation: Some((
                times: [
                    0.0,
                    0.6666666,
                    1.3,
                ],
                values: [
                    (0.00000014602381, 0.5988052, 0.00000003171408),
                    (0.00000018475123, 0.5988052, 0.00000009701944),
                    (0.00000014602381, 0.5988052, 0.00000003171408),
                ],
                step: false,
            )),
            rotation: Some((
                times: [
                    0.0,
                    0.6666666,
                    1.3,
                ],
                values: [
                    (0.20617218, -0.0655987, -0.018027518, 0.97614795),
                    (0.14017673, -0.0642405, -0.02239052, 0.9877866),
                    (0.20617218, -0.0655987, -0.018027518, 0.97614795),
                ],
                step: false,
            )),
            scale: Some((
                times: [
                    0.0,
                    0.6666666,
                    1.3,
                ],
                values: [
                    (0.9999999, 0.9999995, 1.0000001),
                    (1.0000002, 0.99999994, 1.0000002),
                    (0.9999999, 0.9999995, 1.0000001),
                ],
                step: false,
            )),
        ),
        (
            node: "Thigh.Right",
            translation: Some((
                times: [
                    0.0,
                    0.6666666,
                    1.3,
                ],
                values: [
                    (-0.19862336, 0.47492778, -0.02361199),
                    (-0.19862336, 0.47492778, -0.02361199),
                    (-0.19862336, 0.47492778, -0.02361199),
                ],
                step: false,
            )),
            rotation: Some((
                times: [
                    0.0,
                    0.6666666,
                    1.3,
                ],
                values: [
                    (0.04317124, 0.93407315, 0.34545252, 0.07941098),
                    (-0.057449088, 0.8426917, -0.5253942, 0.102621414),
                    (0.04317124, 0.93407315, 0.34545252, 0.07941098),
                ],
                step: false,
            )),
            scale: Some((
                times: [
                    0.0,
                    0.6666666,
                    1.3,
                ],
                values: [
                    (1.0000001, 1.0000001, 1.0),
                    (1.0000001, 1.0, 1.0000001),
                    (1.0000001, 1.0000001, 1.0),
                ],
                step: false,
            )),
        ),
        (
            node: "Shin.Right",
            translation: Some((
                times: [
                    0.0,
                    1.3,
                ],
                values: [
                    (-0.00000016174954, 0.8242398, 0.000000118387106),
                    (-0.00000016174954, 0.8242398, 0.000000118387106),
                ],
                step: false,
            )),
            rotation: Some((
                times: [
                    0.0,
                    1.3,
                ],
                values: [
                    (-0.23148456, 0.74676776, -0.17959668, 0.5970744),
                    (-0.23148456, 0.74676776, -0.17959668, 0.5970744),
                ],
                step: false,
            )),
            scale: Some((
                times: [
                    0.0,
                    1.3,
                ],
                values: [
                    (1.0000001, 1.0000002, 1.0000002),
                    (1.0000001, 1.0000002, 1.0000002),
                ],
                step: false,
            )),
        ),
        (
            node: "Thigh.Left",
            translation: Some((
                times: [
                    0.0,
                    0.6666666,
                    1.3,
                ],
                values: [
                    (0.1986233, 0.47492778, -0.02361199),
                    (0.1986233, 0.47492778, -0.02361199),
                    (0.1986233, 0.47492778, -0.02361199),
                ],
                step: false,
            )),
            rotation: Some((
                times: [
                    0.0,
                    0.6666666,
                    1.3,
                ],
                values: [
                    (0.05619174, 0.8772185, -0.46120656, -0.12090806),
                    (-0.03628445, 0.93841064, 0.33270732, -0.08587663),
                    (0.05619174, 0.8772185, -0.46120656, -0.12090806),
                ],
                step: false,
            )),
            scale: Some((
                times: [
                    0.0,
                    0.6666666,
                    1.3,
                ],
                values: [
                    (1.0, 0.9999999, 1.0),
                    (1.000001, 1.0000002, 1.0000005),
                    (1.0, 0.9999999, 1.0),
                ],
                step: false,
            )),
        ),
        (
            node: "Shin.Left",
            translation: Some((
                times: [
                    0.0,
                    1.3,
                ],
                values: [
                    (0.000000105734216, 0.8242399, 0.0000000199434),
                    (0.000000105734216, 0.8242399, 0.0000000199434),
                ],
                step: false,
            )),
            rotation: Some((
                times: [
                    0.0,
                    1.3,
                ],
                values: [
                    (0.21752767, 0.750952, -0.16843852, -0.60031766),
                    (0.21752767, 0.750952, -0.16843852, -0.60031766),
                ],
                step: false,
            )),
            scale: Some((
                times: [
                    0.0,
                    1.3,
                ],
                values: [
                    (1.0000007, 1.0000007, 1.0000006),
                    (1.0000007, 1.0000007, 1.0000006),
                ],
                step: false,
            )),
        ),
    ],
    events: [],
)