[
    (
        name: "PartEngineM",
        transform: (
            translation: (0.0, 0.0, 0.0),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
        ),
        matter: Mesh(
            asset_path: "models/space-kit/rocket_baseA.glb",
        ),
        scripts: [],
        rigidbody: Some((
            boxed: true,
            mode: Kinematic,
            radius: 0.5,
            height: 2.0,
            half_extents: (0.9, 0.8, 0.9),
            restitution: 0.05,
            friction: 0.6,
            gravity: true,
            lock_pos: (false, false, false),
            lock_rot: (false, false, false),
            mass: 1.8,
        )),
    ),
    (
        name: "Engine Flame",
        transform: (
            translation: (0.0, -0.85, 0.0),
            rotation: (1.0, 0.0, 0.0, 0.0),
            scale: (0.7, 0.5, 0.7),
        ),
        matter: PointLight(
            color: (1.0, 0.62, 0.25),
            intensity: 0.0,
            range: 16.0,
        ),
        scripts: [],
        particles: Some((
            asset: "vfx/Flame",
            play_on_start: false,
        )),
        parent: Some(0),
    ),
]
