[
    (
        name: "PartChute",
        transform: (
            translation: (0.0, 0.0, 0.0),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (0.7, 0.45, 0.7),
        ),
        matter: Mesh(
            asset_path: "models/space-kit/rocket_topB.glb",
        ),
        scripts: [],
        rigidbody: Some((
            boxed: true,
            mode: Kinematic,
            radius: 0.5,
            height: 2.0,
            half_extents: (0.4, 0.25, 0.4),
            restitution: 0.05,
            friction: 0.6,
            gravity: true,
            lock_pos: (false, false, false),
            lock_rot: (false, false, false),
            mass: 0.1,
        )),
    ),
]
