[
    (
        name: "PartDish",
        transform: (
            translation: (0.0, 0.0, 0.0),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (0.7, 0.7, 0.7),
        ),
        matter: Mesh(
            asset_path: "models/space-kit/satelliteDish.glb",
        ),
        material: Some((
            color: (0.7, 0.72, 0.78),
            shader: Some("shaders/hullPanels.flsl"),
            shader_params: {
                "baseColor": (0.7, 0.72, 0.78, 1.0),
            },
        )),
        scripts: [],
        rigidbody: Some((
            boxed: true,
            mode: Kinematic,
            radius: 0.4,
            height: 1.0,
            half_extents: (0.4, 0.3, 0.4),
            restitution: 0.05,
            friction: 0.6,
            gravity: true,
            lock_pos: (false, false, false),
            lock_rot: (false, false, false),
            mass: 0.2,
        )),
    ),
]
