[
    (
        name: "PartTankM",
        transform: (
            translation: (0.0, 0.0, 0.0),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 3.0, 1.0),
        ),
        matter: Mesh(
            asset_path: "models/space-kit/rocket_fuelA.glb",
        ),
        material: Some((
            color: (0.62, 0.64, 0.7),
            shader: Some("shaders/hullPanels.flsl"),
            shader_params: {
                "baseColor": (0.62, 0.64, 0.7, 1.0),
            },
        )),
        scripts: [],
        rigidbody: Some((
            boxed: true,
            mode: Kinematic,
            radius: 0.5,
            height: 2.0,
            half_extents: (0.5, 0.75, 0.5),
            restitution: 0.05,
            friction: 0.6,
            gravity: true,
            lock_pos: (false, false, false),
            lock_rot: (false, false, false),
            mass: 3.0,
        )),
    ),
]
